*{
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(159, 159, 221);
  position: relative;
}

.container{
  top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
#board{
  position: relative;
}
#image{
  width: 750px;
  aspect-ratio: 1.5;
}
.gan {
  position: absolute;
  left: 20px;
  bottom: 200px;
  font-size: 40px;
  color: rgb(234, 54, 54);
  font-family: cursive;
}
.los{
  position: absolute;
  right: 110px;
  bottom: 200px;
  font-size: 40px;
  color: rgb(234, 54, 54);
  font-family: cursive;
}
.a{
  background-color: rgb(14, 109, 193);
  position: absolute;
}
#choose{
  left:25px;
  font-size: 20px;
  top: 50px;
}
#roll{
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  bottom:15px;
  font-size: 75px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#money{
  right: 100px;
  font-size: 40px;
  top: 50px;
}
.n{
  position: absolute;
  color: white;
  font-size: 30px;
}
#Hukum{
  top: 200px;
  left: 190px;
}
#Bhurja{
  top: 200px;
  left:450px
}
#Chidi{
  top: 200px;
  left: 675px;
}
#Etta{
  top: 425px;
  left: 190px;
}
#Jhandi{
top: 425px;
left: 450px;
}
#Pan{
  top: 425px;
  left:675px;
}
