*{
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(159, 159, 221);
  position: relative;
}

.container{
  top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
#board{
  position: relative;
}
#image{
  width: 750px;
  aspect-ratio: 1.5;
}
.gan {
  position: absolute;
  bottom: 40px;
  margin-left: 300px;
  font-size: 40px;
  color: rgb(217, 255, 0);
  font-family: cursive;
  background-color: black;
}
.los{
  position: fixed;
  right: 110px;
  bottom: 200px;
  font-size: 40px;
  color: rgb(234, 54, 54);
  font-family: cursive;
}
.a{
  background-color: rgb(14, 109, 193);
  position: absolute;
}
#choose{
  left:25px;
  font-size: 20px;
  top: 100px;
  position: absolute;
}
.Fund{
  position: fixed;
  right: 0;
  top: 0; 
  font-size: 30px;
  color: white;
  background-color: black;
  padding: 3px;
  border-top: 0;
  z-index: 1;
}
#roll{
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  bottom:15px;
  font-size: 75px;
  margin-right: 130px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#money{
  position: absolute;
  right: 1vw;
  font-size: 40px;
  top: 100px;
}
.n{
  position: absolute;
  color: white;
  font-size: 30px;
}
#Hukum{
  top: 200px;
  left: 190px;
}
#Bhurja{
  top: 200px;
  left:450px
}
#Chidi{
  top: 200px;
  left: 675px;
}
#Etta{
  top: 425px;
  left: 190px;
}
#Jhandi{
top: 425px;
left: 450px;
}
#Pan{
  top: 425px;
  left:675px;
}
@media only screen and (max-width: 1115px) {
  #image {
    width: 550px;
  }
  #money,#choose{
    font-size: 20px;
  }
  #choose{
    max-width: 80px;    
    float: right;
  }
}
@media only screen and (max-width: 780px) {
  #image{
    width: 100vw;
  }
  .Fund{
    font-size: 5vw;
  }
  #roll{
    font-size: 20vw;
    bottom: 20vw;
    margin-left: 50vw;
  }
  .gan{
    bottom: 0;
    width: 100vw;
    position: fixed;
    right: 0px;
  }
  #choose,#money{
    top: 40vh;
  }
}
